.contact {
  color: #fff;
}
.infoMain {
  text-align: center;
  font-size: 38px;
}
.back {
  background: hsl(206, 46%, 56%);
  height: 100vh;
  padding: 192px;
  /* padding-bottom: 265px;
  padding-top: 10px; */
}
