.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 90%;
  width: 90vw;
  position: absolute;
  padding-left: 130px;
}
.overlay-title3 {
  color: hsl(208, 28%, 86%);
  background-color: rgba(245, 244, 244, 0);
  font-size: 35px;
  text-align: center;
}
.youtube-container {
  background-color: hsl(192, 97%, 23%);
}
